<h1>Formulario Factura</h1>

<p>ID Cliente <input type="number"[(ngModel)]="factura.idCliente" min="0"></p>
<p>Total Factura <input type="number"[(ngModel)]="factura.totalFactura" min="0"></p>
<p>IVA <input type="number"[(ngModel)]="factura.iva" min="0" min="0"></p>


<button (click)="addFactura()">Añadir Factura</button>
<br>
<p>Introduce el ID <input type="number"[(ngModel)]="factura.idAux"></p>
<button (click)="delFactura()">Borrar Factura</button>

<button (click)="listFactura()">Mostrar Factura</button>

<button (click)="updateFactura()">Modificar Factura</button>



<table>
    <tr>
        <th>ID Factura</th>
        <th>ID Cliente</th>
        <th>Total Factura</th>
        <th>IVA</th>
               
    </tr>
    <tr *ngFor="let factura of facturas">
        <td>{{factura.idFactura}}</td>
        <td>{{factura.idCliente}}</td>
        <td>{{factura.totalFactura}}</td>
        <td>{{factura.iva}}</td> 
                    
    </tr>
</table>